table.eventing {
    width: 100%;
    background-color: #ccc;
}
td.first{
    width: 60px;
}
.btn {

            width: 100px;
}
.div_form_box{
    width: 600px;
}
.div_form_title{
    border-bottom: #ddd solid 1px;
     padding: 5px;
     margin: 10px 5px;
}
.div_form_row{

}
.div_form_left{
    float: left;
    width: 80px;
    text-align: right;
    padding: 5px 10px;
}
.div_form_right{
padding: 5px 10px;
}