<div class="input_storage_row">
  <div class="input_storage_label"><%= f.label :key, "答案" %></div>
  <div class="input_storage_field"><%= f.radio_button :key, "true" %><%= f.label :key_true, "正确" %>
<%= f.radio_button :key, "false" %><%= f.label :key_false, "错误" %></div>
</div>