<table>
<% sub_categories.each do |sc| %>
<tr>
  <td> <%= sc.title %></td>
  <td> <%= sc.description %></td>
  <td><%= link_to "选为我的分类", {:action => "select_category", :id => sc.id} %></td>
</tr>
<% end %>
</table>